<form action="/answer.html" method= "get">  
	<!-- Spedisco "question" alla pagina/metodo ANSWER la domanda -->
  <input type="text" name="question" placeholder="Ask your question">
  <input type="submit" value="Ask!">
</form>
